<div class="container">
  <div [hidden]="submitted">
    <h1>User Form</h1>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <!-- {{diagnostic}} -->
      <div class="form-group">
        <label for="name">Email</label>
        <input type="text" class="form-control" id="email"
               required email
               [(ngModel)]="model.email" name="email" #email="ngModel">
               <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                 A valid email is required
               </div>
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"  class="form-control" id="name"
               [(ngModel)]="model.name" name="name">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password"
               required minlength="8"
               [(ngModel)]="model.password" name="password" #password="ngModel">
               <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                 A password is required to be at least 8 characters
               </div>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text"  class="form-control" id="phoneNumber"
               #phoneNumber="ngModel"
               [(ngModel)]="model.phoneNumber" name="phoneNumber"
               pattern="1?(?:[.\s-]?[2-9]\d{2}[.\s-]?|\s?\([2-9]\d{2}\)\s?)(?:[1-9]\d{2}[.\s-]?\d{4}\s?(?:\s?([xX]|[eE][xX]|[eE][xX]\.|[eE][xX][tT]|[eE][xX][tT]\.)\s?\d{3,4})?|[a-zA-Z]{7})">
               <!-- Regex supposed to work for any US phone number-->
               <div [hidden]="phoneNumber.valid || phoneNumber.pristine" class="alert alert-danger">
                 Phone number not valid, please enter a US phone number e.g. 8005551234|1 (800) 555-1234
               </div>
      </div>
      <!--  -->
      <button type="button" class="btn btn-default" (click)="newUser(); userForm.reset()">Clear All</button>
      <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>
    </form>
    </div>
    <div [hidden]="!submitted">
      <h2> Thank you {{ maybeName }}!</h2>
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9">{{ model.name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Email</div>
        <div class="col-xs-9">{{ model.email }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Password</div>
        <div class="col-xs-9">{{ model.password }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Phone Number</div>
        <div class="col-xs-9">{{ model.phoneNumber }}</div>
      </div>
      <br>
      <button class="btn btn-primary" (click)="submitted=false">Go Back</button>
    </div>
</div>
